/** cards **/

.test{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2e7e6;
}



.box{
   height:410px;
   width:23%;
   background-color: white;
   padding: 20px 0px 15px;
   margin-top: 2rem;

}

.box-content{
    margin-left: 1rem;
    margin-right:1rem;
   
}

.img{
    
    height:300px;
    background-size: cover;
    margin-top:1.5rem;
    margin-bottom:2rem;
}

.shop{
    text-decoration: none;
    font-size:1rem;
    color:#007185;
}