/** Hero section **/


.hero-section{
    background-image: url('../images/pp.jpg');
    background-size: cover;
    height:450px;
    width:100%;
  
    /* display:flex;
    justify-content: center;
    align-items: flex-end; */
   
  }