/* login-styles.css */

body {
    font-family: 'Arial', sans-serif;
  }
  
  .login-section-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .login-card {
    max-width: 520px;
    margin: 35px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .login-card-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form-group {
    margin-bottom: 20px;
  }
  
  .login-form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .login-form-control:hover {
    border-color: #007bff;
  }
  
  .login-btn {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-btn:hover {
    background-color: orange;
    color: white;
  }
  
  .login-text-center {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-mt-4 {
    margin-top: 1.5rem;
  }
  
  .login-mt-4 a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-mt-4 a:hover {
    text-decoration: underline;
  }


  .invalid{
    border: 1px solid red;
    background-color: rgb(248, 170, 141)

  }


  .error-msg{
    margin-top: 8px;
    color:red;
  }



  
  