.segmentedImageContainer {
    text-align: center;
    padding: 20px;
    background-color: rgb(3, 2, 10);
  }
  
  .loadingText {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    
  }
  
  .segmentedImage {
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 370px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  