/* SupportPage.css */

.support-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:20px;
  }
  
  .support-page h2 {
    color: #333;
    text-align: center;
    margin-bottom: 13px;
  }
  
  .support-page p {
    color: #555;
    line-height: 1.6;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .contact-form button {
    background-color: orange;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-info {
    margin-top: 20px;

  }
  
  .contact-info p {
    color: #555;
    margin-bottom: 10px;
    text-align: center;
  }
  